/* all elements */
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;  
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Poppins';
  color: #000000;
}

img {
  width: 100%;
}

ul,
ol,
li,
a,
h1,
h2,
h3,
h4,
h5,
h5,
p,
span {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
/* main container use over all the site start here */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* main container use over all the site end here */

/* header css start here */
.header-inner h1 {
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 0;
}

.header-list {
  width: 100%;
}

.header-list ul li {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.header-list ul li p {
  margin: 0;
  line-height: 1;
}
.header-list ul li>strong {
  min-width: 130px;
  display: inline-block;
  margin-right: 20px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 0;
}

/* header css end here */

/* table and image css start here */
.table-section {
  padding: 0;
}

.table-media {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.table-list {
  width: 20%;
  display: inline-block;
  margin-bottom: auto;
  vertical-align: top;
}

.table-list h2 {
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
  margin-bottom: 0;
}
.table-list li {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
}
.table-body {
  width: 79%;
  display: inline-block;
}

.table,
.table td,
.table tr,
.table th {
  border-collapse: collapse;
  border-bottom: 2px solid black;
  text-align: left;
  padding: 0;
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  margin: 0;
}

tbody tr:last-child {
  border-bottom: 4px solid rgb(255, 255, 255)
}

.left {
  text-align: end !important;
}


.table ,.table-wrapper {
  width: 100%;
  padding-right: 30px;
}

/* Module Drag & Drop Section */
.module-section {
  margin: 10px auto;
  margin-top: 60px;
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin-bottom:50px;
}
.module-wrapper .module-structure {
  min-height: 170px;
  max-height: 170px;
  width: 100%;
  height: 100%;
  max-width: 7.5%;
  display: inline-block;
  border-top: 1.3px solid #DEDEDE;
  border-right: 1.304px solid #DEDEDE;
  border-bottom: 1.304px solid #DEDEDE;
  border-left: 1.304px solid #DEDEDE;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.module-wrapper .module-structure + .module-structure {
  margin-left: -5px;
}
.module-wrapper .module-structure .rm-title {
  position: absolute;
  font-size: 10px;
  line-height: 18px;
  color: #0039A6;
  font-weight: 600;
  text-align: center;
  width: 100%;
  top: -18px;
  left: 2px;
}
.module-wrapper .module-structure:has(img.expanded) .rm-title {
  position: absolute;
  font-size: 10px;
  line-height: 16px;
  color: #0039A6;
  font-weight: 600;
  text-align: center;
  width: 100%;
  top: -18px;
  left: 2px;
}
.module-wrapper .module-structure.static {
  background-color: #E9EBFA;
}
.module-wrapper .module-structure img.expanded {
  width: 200%;
}
.module-wrapper .module-structure img {
  width: 100%;
  object-fit: contain;
  position: absolute;
  height: unset;
  top: 0;
  left: 0;
  z-index: 99;
  max-height: 170px;
}
.module-wrapper .module-structure.static img  {
  display: inline-block;
  width: 90%;
  position: unset;
  margin: 5px;
}
.module-wrapper .module-structure.static img {
  height: auto;
}
.module-wrapper .module-structure.static {
  position: relative;
}
.module-wrapper .module-structure.static .small-images {
  width: 95%;
  margin-top: auto;
  position: absolute;
  left: 0;
  top: 120px;
}
.module-section .watts {
  font-size: 14px;
  color: #0039A6;
  font-weight: 400;
  margin: 0;
}
.module-wrapper .module-structure.static.single img {
  width: 100%;
  top: 0;
  left: 0;
}